[bumpversion]
current_version = 0.0.3-beta.1
commit = False
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(-(?P<release>(beta|ga))\.(?P<beta>\d+))?
serialize = 
	{major}.{minor}.{patch}-{release}.{beta}
	{major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = ga
values = 
	beta
	ga

[bumpversion:part:beta]
first_value = 1

[bumpversion:file:Cargo.toml]
